body{
    background-color: hsl(0, 0%, 94%);
}
@font-face{
    font-family: a;
    src: url('assets/fonts/Poppins-Bold.ttf');
}
@font-face{
    font-family: b;
    src: url('assets/fonts/Poppins-BoldItalic.ttf');
}
@font-face{
    font-family: c;
    src: url('assets/fonts/Poppins-Italic.ttf');
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.flex-container{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 500px;
    border-radius: 20px;
    border-bottom-right-radius: 150px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 100px;
}
.flex-container *{
    margin-left: 20px;
}
.flex-item1{
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: a;
    font-weight: bold;
    color: hsl(0, 1%, 44%);
    font-size: 11px;
    margin-top: 20px;

}
#a{
    padding-right: 102px;
}
#b{
    padding-right: 85px;
}
.flex-item2{
        display: grid;
        grid-template-columns: 133px 133px 133px;
        column-gap: 14px;
        grid-template-rows: 50px 7px;
}

.flex-item2 p{
    font-family: c;
    color: hsl(0, 100%, 67%);
    font-size: 10px;
    margin-bottom: 0px;
    padding-bottom: -30px;
    visibility: hidden;
}
img{
    height: 45px;
    width: 45px; 
    background-color: hsl(259, 100%, 65%); 
    border-radius: 50%; 
    padding: 10px; 
    display: inline;
    position: relative;
    left: 450px;
}
img:hover{
    background-color: black;
    cursor: pointer;
}
hr{
    display: inline-flex;
    position: absolute;
    width: 450px;
    color: black;
    margin-top: 30px;
}
.ok{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 10px;
}
input {
    font-size: 22px;
    padding-left: 10px;
    font-weight: bolder;
    font-family: a;
}
input:focus {
    outline: none !important;
    border: 1px solid hsl(259, 100%, 65%) !important;
    border-radius: 2px;
}
input:hover{
    cursor:pointer;
}

.last{
    font-size: 70px;
    font-weight: bolder;
    font-family: b;
    margin-top: -90px;
}
.last *{

    margin-bottom: -100px;
}

@media (max-width: 768px) {
    .flex-container{
        width: 450px;
        height: 500px;
    }
    .flex-item2{
        grid-template-columns: 120px 120px 120px;
        column-gap: 10px;
    }
    .flex-item2 input{
        border-radius: 10px;
        border: 1px solid hsl(0, 1%, 44%);
    }
    #a{
        padding-right: 86px;
    }
    #b{
        padding-right: 67px;
    }
    img{
        left: 153px;
    }
    hr{
        width: 360px;
    }
    .last{
        margin-left: 2px;
    }


}